# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric and neoforge

run/
fabric-1.20.1/runs/
fabric-1.21.11/runs/
neoforge-1.20.1/run/
neoforge-1.21.11/run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr
